<div class="container">
    <h4>Form Admin</h4>
    <hr>
    <form action="<%= targetRoute %> " method="post">
        Nama
        <input type="text" name="nama_admin" 
        value="<%= nama_admin %> "
        class="form-control mb-2" required>

        Username 
        <input type="text" name="username" 
        value="<%= username %> "
        class="form-control mb-2" required>

        Password 
        <input type="text" name="password" 
        value="<%= deskripsi (password) %> "
        class="form-control mb-2" required>

        <button type="submit" class="btn" style="background-color: #393E46; color: white;">
            Simpan
        </button>
    </form>
</div>