<div class="container">
    <h4>Form Pack</h4>
    <hr>
    <form action="<%= targetRoute %> " method="post">
        Nama
        <input type="text" name="nama_pack" 
        value="<%= nama_pack %> "
        class="form-control mb-2" required>

        Harga 
        <input type="text" name="harga" 
        value="<%= harga %> "
        class="form-control mb-2" required>

        <button type="submit" class="btn" style="background-color: #393E46; color: white;">
            Simpan
        </button>
    </form>
</div>