<div class="container">
    <h4 class="text" style="color: #6D9886;">
    Data Kemasan
    </h4>
    <hr>
    <ul class="list-group my-2">
        <% data.forEach(pack => { %>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-4">
                        <small class="text" style="color: #8EC3B0;">Jenis Kemasan</small> <br>
                        <%= pack.nama_pack %> 
                    </div>

                    <div class="col-lg-4">
                        <small class="text" style="color: #8EC3B0;">Harga</small> <br>
                        Rp <%= pack.harga %> 
                    </div>

                    <div class="col-lg-4">
                        <small class="text" style="color: #8EC3B0;">Action</small> <br />

                        <!-- button edit -->
                        <a href="/kemasan/edit/<%= pack.id %>">
                            <button class="btn btn-sm btn-primary">
                                Edit
                            </button>
                        </a>

                        <!-- button delete -->
                        <a href="/kemasan/delete/<%= pack.id %>"
                        onclick="return confirm(`Apakah Anda yakin ingin menghapus data ini?`)">
                            <button class="btn btn-sm btn-danger">
                                Hapus
                            </button>
                        </a>
                 </div>
            </div>
        </li>
        <% }) %>
    </ul>
    <!-- button add new data -->
    <a href="/kemasan/add">
        <button class="btn btn-md" style="color: white; background-color: #6D9886;">
            Tambah Data
        </button>
    </a>
</div>